* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-image: url('valley-blurred.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.chat-wrapper {
    height: 87vh; 
    width: 80%;
    margin-left: 10%; 
    color: white; 
    background: rgb(43, 47, 60);
    border-radius: 5px;
  }
  
/* Container styles */

.logo {
    margin-bottom: 100px;
    width: 10px;
    height: 20px;
    margin-left: 120px;
}

.container {
    max-width: 955px;
    background-color: rgb(18 18 18 / 90%);
    padding: 33px;
    margin:  auto;
    height: 60vh;
    overflow-y: auto;
    margin-bottom: 15px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}


.background {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(20deg, rgb(20, 23, 33) 0%, rgb(20, 23, 33) 50%, rgba(20, 23, 33,0.8) 100%);
  /* Vertical center */
  display: table-cell;
  vertical-align: middle;
}

/* Message styles */
.message {
    color: white; 
    display: inline-block; 
    cursor: pointer; 
    text-align: left; 
    padding: 12px; 
    font-size: 15px; 
    font-family: Avenir; 
    white-space: pre-line; 
    overflow-wrap: anywhere; 
    max-width: calc(100% - 100px); 
    transition: all 0.33s ease 0s; 
    border-radius: 1.3em 0.3em 1.3em 1.3em;
}

/* Alignment styles */
.left {
    float: left;
    clear: both;
    background-color: #007AFF;
    margin-top: 2px;
    margin-bottom: 2px;
}

.right { 
    float: right;
    clear: both;
    background-color: #21cc3d;
    margin-top: 2px;
    margin-bottom: 2px;
}


/* Send container styles */
#send-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    width: 81%;
    margin: auto;
    box-shadow: rgba(24, 144, 255, 0.35) 0px 2px 7px; 
    border: 1px solid rgb(24, 144, 255); 
    border-radius: 8px; 
    transition: all 0.44s ease 0s;
}

#messageInp {
    background-color: rgb(18 18 18 / 90%);
    border: none;
    border-radius: 8px 0px 0px 8px;
    padding: 10px;
    color: white;
    font-size: 15px;
    flex: 1;
}

.btn {
    cursor: pointer;
    border-radius: 0 8px 8px 0;
    height: 37px;
    background-color: rgb(18 18 18 / 90%);
    color: white;
    border: none;
    padding: 0 20px;
    margin-left: 0px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: rgb(18 18 18);
}